<a href="https://colab.research.google.com/github/aaronpetryio/random/blob/main/mmlm_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
import re

In [ ]:
!kaggle competitions download -c warmup-round-march-machine-learning-mania-2023

Downloading warmup-round-march-machine-learning-mania-2023.zip to /content
100% 29.0M/29.0M [00:02<00:00, 23.0MB/s]
100% 29.0M/29.0M [00:02<00:00, 14.9MB/s]

In [ ]:
!unzip warmup-round-march-machine-learning-mania-2023.zip

Archive:  warmup-round-march-machine-learning-mania-2023.zip
  inflating: Cities.csv
  inflating: Conferences.csv
  inflating: MConferenceTourneyGames.csv
  inflating: MGameCities.csv
  inflating: MMasseyOrdinals.csv
  inflating: MNCAATourneyCompactResults.csv
  inflating: MNCAATourneyDetailedResults.csv
  inflating: MNCAATourneySeedRoundSlots.csv
  inflating: MNCAATourneySeeds.csv
  inflating: MNCAATourneySlots.csv
  inflating: MRegularSeasonCompactResults.csv
  inflating: MRegularSeasonDetailedResults.csv
  inflating: MSeasons.csv
  inflating: MSecondaryTourneyCompactResults.csv
  inflating: MSecondaryTourneyTeams.csv
  inflating: MTeamCoaches.csv
  inflating: MTeamConferences.csv
  inflating: MTeamSpellings.csv
  inflating: MTeams.csv
  inflating: SampleSubmissionWarmup.csv
  inflating: WGameCities.csv
  inflating: WNCAATourneyCompactResults.csv
  inflating: WNCAATourneyDetailedResults.csv
  inflating: WNCAATourneySeeds.csv
  inflating: WNCAATourneySlots.csv
  inflating: WRegularSeasonCompactResults.csv
  inflating: WRegularSeasonDetailedResults.csv
  inflating: WSeasons.csv
  inflating: WTeamConferences.csv
  inflating: WTeamSpellings.csv
  inflating: WTeams.csv

In [ ]:
df_seeds = pd.read_csv("WNCAATourneySeeds.csv")
df_seeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [ ]:
df_season_results = pd.read_csv("WRegularSeasonCompactResults.csv")
df_season_results.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

In [ ]:
df_season_results['ScoreGap'] = df_season_results['WScore'] - df_season_results['LScore']

In [ ]:
df_season_results.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  ScoreGap
0    1998      18     3104      91     3202      41    H      0        50
1    1998      18     3163      87     3221      76    H      0        11
2    1998      18     3222      66     3261      59    H      0         7
3    1998      18     3307      69     3365      62    H      0         7
4    1998      18     3349     115     3411      35    H      0        80

In [ ]:
num_win = df_season_results.groupby(['Season', 'WTeamID']).count()
num_win = num_win.reset_index()[['Season', 'WTeamID', 'DayNum']].rename(columns={"DayNum": "NumWins", "WTeamID": "TeamID"})

In [ ]:
num_win.head()

   Season  TeamID  NumWins
0    1998    3102        4
1    1998    3103       11
2    1998    3104       21
3    1998    3106        6
4    1998    3108       12

In [ ]:
num_loss = df_season_results.groupby(['Season', 'LTeamID']).count()
num_loss = num_loss.reset_index()[['Season', 'LTeamID', 'DayNum']].rename(columns={"DayNum": "NumLosses", "LTeamID":"TeamID"})

In [ ]:
num_loss.head()

   Season  TeamID  NumLosses
0    1998    3102         20
1    1998    3103         18
2    1998    3104          9
3    1998    3106         15
4    1998    3108         11

In [ ]:
gap_win = df_season_results.groupby(['Season', 'WTeamID']).mean().reset_index()
gap_win = gap_win[['Season', 'WTeamID', 'ScoreGap']].rename(columns={"ScoreGap": "GapWins", "WTeamID": "TeamID"})

In [ ]:
gap_win.head()

   Season  TeamID    GapWins
0    1998    3102  15.500000
1    1998    3103  15.000000
2    1998    3104  21.619048
3    1998    3106   8.333333
4    1998    3108  17.750000

In [ ]:
gap_loss = df_season_results.groupby(['Season', 'LTeamID']).mean().reset_index()
gap_loss = gap_loss[['Season', 'LTeamID', 'ScoreGap']].rename(columns={"ScoreGap": "GapLosses", "LTeamID": "TeamID"})

In [ ]:
df_features_season_w = df_season_results.groupby()